<section class="sign-up-form" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">

  <mat-card>

    <mat-card-header>
      <div mat-card-avatar class="form-header-image"></div>
      <mat-card-title>Thank You</mat-card-title>
      <mat-card-subtitle>For Choosing Us!</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (submit)="onSubmit()" fxLayout="column">

        <mat-form-field>
          <input type="name" placeholder="Name" name="name" formControlName="name" matInput>
          <mat-error *ngIf="form.get('name').hasError('required')">Name field should not be empty!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="You should be atleast 18 years old.">
          <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Choose your Date of Birth" name="dateOfBirth" formControName="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input type="email" placeholder="Email" name="email" formControlName="email" matInput>
          <mat-error *ngIf="form.get('email').hasError('required')">Email field should not be empty!</mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">Email is invalid!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Should be atleast 8 characters long.">
          <input type="password" placeholder="Password" name="password" formControlName="password" matInput>
          <mat-hint align="end">{{ form.get('password').value?.length }} / 8</mat-hint>
          <mat-error *ngIf="form.get('password').hasError('required')">Password field should not be empty!</mat-error>
          <mat-error *ngIf="form.get('password').hasError('minlength')">Password should be minimium 8 characters long!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please retype your password.">
          <input type="password" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword" matInput>
          <mat-error *ngIf="form.get('confirmPassword').hasError('required')">Confirm Password field should not be empty!</mat-error>
          <mat-error *ngIf="form.get('confirmPassword').hasError('passwordMissmatch')">Password and Confirm Password should be same!</mat-error>
        </mat-form-field>

        <mat-checkbox labelPosition="after" name="agree" formControName="agree">
          I agree to Terms and Conditions.
        </mat-checkbox>

        <button type="submit" mat-raised-button color="primary" >SIGN UP</button>

      </form>
    </mat-card-content>

  </mat-card>

</section>
